<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="org.Fidelity.GeneralUtility.RetryToListener"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.Fidelity.TestNG.Practise.DeleteCustomer_VerifyInViewByACNoPage_Test"/>
      <class name="org.Fidelity.TestNG.Practise.ApplyDebitCard_CheckinActiveCustomer_Test"/>
      <class name="org.Fidelity.TestNG.Practise.CreditCustomer_VerifyInActiveCustomerPage_Test"/>
      <class name="org.Fidelity.TestNG.Practise.Open_ApproveandVerifyInActiveCustomer_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
